body {
  box-sizing: border-box;
  margin: 0;
}

h1 {
  font-family: Roboto;
  font-style: italic;
}

#container {
  display: grid;
  width: 500px;
  height: 500px;
  border: 1px solid #000000;
}

#grid {
  background-color: #ffffff;
  border: 1px solid #dbdbdb;
}